.question-header {
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.question-scale {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 5vh;
}
.question-slider {
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.MuiSlider-markLabelActive {
  font-weight: 800 !important;
}

span[data-index="0"] + .MuiSlider-markLabel {
  left: 5% !important;
}
span[data-index="4"] + .MuiSlider-markLabel {
  left: 96% !important;
}
//
