.pledgeball-logo {
  height: 4vmin;
  pointer-events: none;

  @media only screen and (max-width: 834px) {
      height: 10vmin;
  }
}
.rsk-logo {
  height: 2vmin;
  pointer-events: none;

  @media only screen and (max-width: 834px) {
      height: 5vmin;
  }
}



.header {
  background-color: #333332;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}